workflows/notifications/slack-alert-notification.json
{
  "name": "Slack Alert Notification",
  "nodes": [
    {
      "parameters": {
        "triggerOn": "webhook"
      },
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "example-webhook"
    },
    {
      "parameters": {
        "functionCode": "// Prepare notification message\nconst data = $input.first().json;\n\nreturn [{\n  json: {\n    message: `Alert: ${data.title || 'Notification'}`,\n    details: data.message || 'No details provided',\n    timestamp: new Date().toISOString(),\n    severity: data.severity || 'info'\n  }\n}];"
      },
      "name": "Format Message",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "channel": "#alerts",
        "text": "={{$json.message}}\\n\\nDetails: {{$json.details}}\\nTime: {{$json.timestamp}}",
        "otherOptions": {}
      },
      "name": "Send to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [650, 300],
      "credentials": {
        "slackApi": {
          "id": "1",
          "name": "Slack API"
        }
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Format Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Message": {
      "main": [
        [
          {
            "node": "Send to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "id": "2"
}
