workflows/data-processing/csv-data-transformer.json
{
  "name": "CSV Data Transformer",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "functionCode": "// Transform CSV data\nconst items = $input.all();\n\nreturn items.map(item => {\n  return {\n    json: {\n      ...item.json,\n      processedAt: new Date().toISOString(),\n      status: 'processed'\n    }\n  };\n});"
      },
      "name": "Transform Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "operation": "toJson",
        "options": {}
      },
      "name": "Convert to JSON",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Transform Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Data": {
      "main": [
        [
          {
            "node": "Convert to JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "id": "1"
}
